<h3>Decrypt!</h3>

<form action="/decrypt" method="POST">
  <p>
    <label>Private key</label><br>
    <input type="password" name="private_key">
  </p>

  <p>
    <label><strong>Encrypted</strong> content in JSON format</label><br>
    <textarea rows="16" name="content"></textarea>
  </p>

  <button>Decrypt</button>
</form>
