<h3>Encrypt!</h3>

<form action="/encrypt" method="POST">
  <p>
    <label>Private key</label><br>
    <input type="password" name="private_key">
  </p>

  <p>
    <label>Content in JSON format</label><br>
    <textarea rows="16" name="content"></textarea>
  </p>

  <button>Encrypt</button>
</form>
