<h3>JSON encryption and decryption utility on the web!</h3>
<ul>
<li>Backend using <code>encjson</code> utility, backed by <a href="https://github.com/konovod/monocypher.cr">Monocypher crypto library</a></li>
<li>The source code is available at <a href="https://github.com/martinmares/encjson">https://github.com/martinmares/encjson</a></li>
<li>Inspired by <code>ejson</code> from Shopify at <a href="https://github.com/Shopify/ejson">https://github.com/Shopify/ejson</a></li>
</ul>
