<h3>JSON encryption and decryption utility on the web!</h3>
<ul>
<li>Backend using <code>encjson</code> utility.</li>
<li>The source code is available at github <a href="https://github.com/martinmares/encjson">https://github.com/martinmares/encjson</a></li>
</ul>
