<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>EncJson</title>
</head>
<body>
  <header>
    <h1>EncJson (encrypted json)</h1>
    <p>Simple encryption and decryption toolkit!</p>
    <nav>
      <a href="/">Home</a>
      <a href="/init">Init</a>
      <a href="/encrypt">Encrypt</a>
      <a href="/decrypt">Decrypt</a>
    </nav>

  </header>

  <main>

    <%= content %>

  </main>

  <footer>
    <p>Developed by <a href="mailto:martin.mares@seznam.cz">Martin Mareš</a>, powered by <a href="https://crystal-lang.org/">Crystal lang!</a></p>
  </footer>
</body>
</html>
